@font-face {
 font-family: 'OtherFont';
 src: url('e.woff2') format('woff2'),
      url('e.woff') format('woff');
}
@font-face {
 font-family: 'HeaderFont';
 src: url('f.woff2') format('woff2'),
      url('f.woff') format('woff');
}

body {
 margin: 0px;
 height: 100vh;
 text-align: center;
 background: -webkit-linear-gradient(#07020d 25%, #150627 45%, #220a40 75%, #300d5a) no-repeat fixed;
 background: linear-gradient(#02050D 25%, #060F27 45%, #0A1940 75%, #300d5a) no-repeat fixed;
}

main {
	display: grid;
	font-family: OtherFont;
	color: #D6D6D6;
	grid-auto-columns: fit-content(1200px);
	justify-content: center;
	align-items: center;
}

main h1 {
	font-size: 2rem;
	margin: 0;
}

main article h1 {
	text-transform: uppercase;
	font-weight: lighter;
	font-size: 3rem;
	margin: 0;
	padding-top: 1.4rem;
}

main article {
	padding: 0 1em;
}

main article p {
	font-size: 1.5rem;
	font-weight: lighter;

}

.landing-body {
	display: flex;
    flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin-top: 35vh;
}

.landing-body a {
	opacity: .65;
	text-decoration: none;
	color: #D6D6D6;
}

.landing-body a:hover {
	color: #D6D6D6;
	border-bottom: 1px solid;
}

.landing-body h3 {
	font-size: 1rem;
}

.about-body {
	margin-top: 0;
	max-width:730px;
}

.about-photo {
	width: 300px;
	height: 300px;
	border-radius: 50%;
	overflow: hidden;
	flex-wrap: wrap;
	position: relative;
}

.about-photo img {
	width: 100%;
	height: auto;
	clip-path: circle();
	border-radius: 50%;
	position: relative;
}

.about-body p {
	margin-bottom: 7px;
}

.about-body ul {
	display: flex;
	flex-direction:column;
	text-align: center;
	margin-top: 0;
}

.about-body li {
	font-size: 1.5rem;
}

.header-container {
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid #7D7D7D;
	text-transform: uppercase;
	padding: 0;
}

.logo {
	display: block;
	margin: auto;
	padding-top: 10px;
}

.logo a {
 	font-family: HeaderFont;
	letter-spacing: 3px;
	font-weight: 500;
	font-size: 1.4rem;
	text-decoration: none;
    color: #D6D6D6;
}

nav {
	margin: 0;
}

header ul {
	flex-wrap: wrap;
	flex-direction: row;
	display: flex;
	list-style-type: none;
	justify-content: center;
	margin: 0.1rem 0;
	padding-left: 0;
}

header ul li {
	flex-basis: 30%;
	padding: 0.3rem 1rem;
	font-size: 1.3rem;
}

header ul li a {
	font-family: HeaderFont;
	text-decoration: none;
	color: #7D7C7D;
}

li a.active {
	color: #C6C6C6;
	border-bottom: 2px solid #C6C6C6;
	font-weight: 300;
}

li a:hover {
	color: #C6C6C6;
}

@media screen and (min-width : 600px) {
	.logo {
		padding-top: 0;
		margin-right: 0;
		margin-left: 0;
		padding-left: 4%
	}

	.logo a {
		font-size: 1.5rem;
		text-decoration: none;
	}

	.header-container {
		flex-direction: row;
		justify-content: space-between;
	}

	header ul li {
		flex-basis: 0%;
		padding-left: 1.4rem;
		font-size: 1.25rem;
	}

	header ul {
		margin: 1rem 0;
	}

	nav {
		align-self: center;
		padding-right: 4%;
	}

	.about-photo {
		margin-top: 6vh;
	}
}